@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-dark text-white font-sans antialiased;
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #0D0F12;
}

::-webkit-scrollbar-thumb {
  background: #2A3245;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #E5A93B;
}
